<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style4.css">
    <link href="https://fonts.googleapis.com/css?family=Fresca|Poppins|Raleway|Titillium+Web|Noto+Sans+KR|Do+Hyeon" rel="stylesheet">
    <title>Kim Jeong Hwan</title>
</head>
<body>
<div class="out">
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#1"><b>개요</b></a></li>
        <li role="presentation"><a href="#2"><b>작품</b></a></li>
        <li role="presentation"><a href="#3"><b>기타</b></a></li>
    </ul>
    <hr>
    <div class="all">
        <div>
            <label class="lb" id=1>개요</label>
            <table class="ta" width="100%" height="100%" border="2">
             <thead>
                <tr>
                    <td colspan="2" class="td1">
                        <img src="./img/김정환 포스터.png" width="400px">
                    </td>
                </tr>
                <tr>
                    <td class="td22" colspan="2">
                       <b>김정환<br>
                        Kim Jeong Hwan</b> 
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        본명
                    </th>
                    <td class="td4">
                        김정환 (KIM JEONG HWAN)
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        출생
                    </th>
                    <td class="td4">
                        1995년 6월 12일, 한국 서울
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        국적
                    </th>
                    <td class="td4">
                        한국
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        학력
                    </th>
                    <td class="td4">
                        삼육대학교 미술컨텐츠학과
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        직업
                    </th>
                    <td class="td4">
                        현대미술가, 그래픽 디자이너, 웹디자이너
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        수상
                    </th>
                    <td class="td4">
                        김정환 주관 2019 한국을 빛낸 아티스트 대상
                    </td>
                </tr>
                <tr>
                    <th class="td3">
                        링크
                    </th>
                    <td class="td4"><a href="https://www.facebook.com/profile.php?id=100012370652822" target="_blank">공식 사이트</a></td>
                </tr>
             </thead>    
            </table>
            <div>
                <a href="#1"><button type="submit" class="dh">UP</button></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="all">
        <div>
            <label class="lb2" id=2>작품</label>
            <table class="ta" width="100%" height="100%" border="2">
             <thead>
                <tr>
                    <td colspan="2" class="td5">
                        <img src="./img/what is your real emotion, 김정환.jpg" width="400px">
                    </td>
                </tr>
                <tr>
                    <td class="td6" colspan="2">
                       <b>what is your real emotion<br>
                        2017</b> 
                    </td>
                </tr>
                <tr>
                    <td class="td2" colspan="2">
                    그의 작품은 작품의 제목 그대로 보는 이들에게  <em><b><ins>"What Is Your Real Emotion, 너의 진짜 감정이 무엇이냐"</ins></b></em>  라고 묻는다. 사회 속에서, 어떠한 형용화된 관계들이나 암묵적인 흐름에 의해 진행되어지는 모든 관계들 속에서, 그것이 인간대 인간이든 혹은 인간대 사물이든 상관없다. 그 상황, 그 순간의 감정을 더 이상 숨기지 말고 그대로 표현해라, 속은 암흑과 좌절에 타계해가는데 겉으로는 싱글벙글 웃기만 할 것인가? 이제 그러한 부정적 담론에서 벗어나 너가 가진 이데올로기를 펼쳐라 
                    </td>
                </tr>
             </thead>
            </table>
            <table class="ta1" width="100%" height="100%" border="2">
             <thead>
                <tr>
                    <td colspan="2" class="td7">
                        <img src="./img/김정환-찰나(刹那)의 순간.jpg" width="400px">
                    </td>
                </tr>
                <tr>
                    <td class="td6" colspan="2">
                       <b>찰나(刹那)의 순간<br>
                        2015</b> 
                    </td>
                </tr>
                <tr>
                    <td class="td2" colspan="2">
                    아티스트 김정환은 "찰나(刹那)의 순간"이라는 작품에 대해 이렇게 말한다. <em><b><ins>"역시나 말 그대로 찰나의 순간이다. 내 작품들은 추상적이면서도 추상적이지 않다. 왜냐 내 작품을 보는 사람들로 하여금 추상이라는 이상세계에서 헤매이게하는 것이 아니라, 보는 그 즉시, 그 순간에 모든 작품 속에 내포된 감정의 충격과 공타가 양순의 내용으로 각인되기 때문이다.</ins></b></em> 이 작품 역시 그렇다. 감정들이 서로 뒤엉켜 자신이 먼져 겉으로 표현되고자 밀쳐내고, 아등바등거리는 마치 살기위해 사회의 전쟁에서 고난을 감내하는 인간의 모습처럼 그 뒤바뀌고 혼란을 야기하는 그 순간을 포착하여 그려낸 작품이다."
                    </td>
                </tr>
             </thead>
            </table>
            <table class="ta1" width="100%" height="100%" border="2">
                <thead>
                   <tr>
                       <td colspan="2" class="td8">
                           <img src="./img/솟대, 김정환(1).jpg" width="400px">
                       </td>
                   </tr>
                   <tr>
                       <td class="td6" colspan="2">
                          <b>솟대<br>
                           2018</b> 
                       </td>
                   </tr>
                   <tr>
                       <td class="td2" colspan="2">
                        솟대는 본래 한국 조선시대부터 지금에 이르러서까지 축복과 경사, 축하 등 행복한 긍정이 내포된 전통적인 의미로 사용되곤 했다. 현재에는 물론 그 의미가 함축되고 거의 희미하게 남아 부락정도의 마을에서만 사용되어 그 맥을 이어가고 있지만, 아직 그 함의들은 완전히 사라지지 않았다. <em><b><ins> 아티스트 김정환은 이러한 축복과 행복, 긍정의 의미로서 사용되었던 솟대의 과거의미와 현재 사회에서 아등바등 치이며 살지만 결국 그 공간 속에서 버텨내지 못하고 끝을 맞이하는 자들의 좌절과 실패의 모습을 대비, 비교하고자 한다.</ins></b></em>  그들은 현재에서는 실패와 낙오의 끝마무리를 한다는 것에서 부정적인 의미가 있지만, 그 생의 의미를 끝내는 죽음으로서 힘겹던 삶에서 벗어나는 경축과 축하의 의미를 담는다고 생각했다.  그리고 그것을 솟대와 대비하였고 이는 더 부각되는 의미를 가지게 되었다.
                       </td>
                   </tr>
                </thead>
               </table>
               <table class="ta1" width="100%" height="100%" border="2">
                <thead>
                   <tr>
                       <td colspan="2" class="td9">
                           <img src="./img/종이달, 김정환.jpg" height="400px">
                       </td>
                   </tr>
                   <tr>
                       <td class="td6" colspan="2">
                          <b>불행한 삶<br>
                           2017</b> 
                       </td>
                   </tr>
                   <tr>
                       <td class="td2" colspan="2">
                        불행한 삶이다. 어떻게든 삶을 지속하는 의미를 되새기고, 지속할 의지와 기력과 모든 힘을 찾기 위해 삶을 탐구하나, 결국엔 불행한 삶이다. 그렇지만 시간은 흐르고 내가 존재하거나 영향을 미치지 않아도 결국엔 세상은 돌아가고 사회는 유지 및 존속된다. 우리가 어떠한 이상적인 삶을 꿈꾸든 그리고 그 꿈을 어떻게, 왜, 쫒아가든 이상적인 삶의 꿈에 꼿은 깃발에 발자국 하나 딛일 수 없다. 다시 결국은 불행한 삶이다. 언제부터 도달할 수 없었는지, 언제부터 쫒을 수 없었는지 모른다. 그저 쓰레기 더미에서 허우적거리는 본인의 모습이 스스로는 꿈을 찾아 쫒는 모습으로 여겨질 뿐이고 착각 할 뿐이다. 결국엔 없다.
                       </td>
                   </tr>
                </thead>
               </table>
            <div>
                <a href="#1"><button type="submit" class="dh">UP</button></a>
            </div>
            <hr>
        <div class="all">    
            <div>
                <label class="lb3" id=3>기타</label>
                <table class="ta" width="100%" height="100%" border="2">
                 <thead>
                    <ul>    
                    <tr>
                        <td class="td6" colspan="2">
                           <b>이 시대 최고의 인물 김정환 관련 기타 지식</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="td2" colspan="2">
                            <li>
                            아티스트 김정환은 사실 초능력자이다. 그는 물건과 생명체를 공중에서 이동 및 위치를 임의로 조정 할 수 있는 염력이 있으며, 남들이 어떤 부당하고 부패한 생각을 일삼는지, 그리고 그것을 어떤 대상에게 적용하려고 하는지 볼 수 있는 마안의 투시 능력이 있다. 하지만 올바른 생각과 좋은 의미를 행하려고 하는 어진이들의 속마음은 투시 할 수 없다. 왜인지는 모른다. 그저 그렇게 살아 왔을 뿐. 
                            </li>
                            <br>
                            <li>
                            아티스트 김정환은 현재 여자친구가 있으며 그 여자친구의 이름은 김XX이다. 정말 아름답고 전설 신화 속 비너스와 비교대결 되었을 때 그리스 상임의원들의 투표수 1득차로 아깝게 패배 할 정도로 지적이며 아름다움을 타고났다. 그리고 그는 그녀와 결혼 할 생각이다. 끝
                            </li>
                            <br>
                            <li>
                            벌써 3일째 여자친구가 일하는 카페에서 코딩을 하고 있다. 다른 사람들이 볼 때 "와 개멋지다.", "전문 프로그래머인가" 라는 소리를 들을 수 있도록 일단 코드를 마구마구 넣어놨으나 실상 보이는건 여백이 많은 빈칸들 그리고 그 사이 사이 짤막한 코드로 적혀져있는 검정색 배경뿐이다. 누가 나를 코딩을 하는 사람이라고 생각할까?
                            </li>
                            <br>
                            <li>
                            나는 데미안 허스트와 쿠사마 야요이를 좋아한다. 그리고 추가로 무라카미 다카시를 좋아한다. 이들은 예술적으로 아니, 예술상업적으로 무척 성공한 아티스트 들이며 돈이라는 부류로 따지는 성공을 이루었다는 공통점이 있다. 물론 나도 그렇게 되고싶어서 좋아하는 것일 뿐이다. 그럼에도 무라카미 다카시까지 넣지 않은 이유는 솔직히 자료찾는 것도 너무 힘들고 지친다. 과제일 뿐인데 나는 거의 목숨걸고 하고 있는 듯 하다. 설마 이 마지막 기타 부분까지 상세하게 읽는 사람들이 있을지 모르겠다. 그냥 디자인이나 기능들만 보고 넘겼으면 좋겠다. 왜냐 창피하기 때문이다. 허허
                            </li>
                        </td>
                    </tr>
                    </ul>
                 </thead>
                </table>
            </div>
        </div>
            <div>
                <a href="#1"><button type="submit" class="dh">UP</button></a>
            </div>
        </div>
        <hr>
    </div>
</div>
</div>
</body>
</html>